body {
  background-color: lightgreen;
}

.buttons {
  text-align: center;
  margin-top: 100px;
  /* font-size: 100px; */
  /* padding: 100px; */
  /* size: 100px; */
  /* width: 20px; */
  /* height: 0px; */
  /* border-radius: 30px; */
}

.btnone {
  /* margin-top:100px; */
  border-radius: 5px;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.btntwo {
  /* margin-top: 100px; */
  border-radius: 5px;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.btnthree {
  /* margin-top: 100px; */
  border-radius: 5px;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
